# TALLY_URL=http://localhost:9000
TALLY_URL=https://invited-quoted-reading-grace.trycloudflare.com
TALLY_COMPANY=Khurana Test Co
TALLY_SALES_LEDGER=Sales GST
TALLY_PURCHASE_LEDGER=PURCHASE GST
TALLY_CGST_OUTPUT_LEDGER=CGST OUTPUT
TALLY_SGST_OUTPUT_LEDGER=SGST OUTPUT
TALLY_IGST_OUTPUT_LEDGER=IGST OUTPUT
TALLY_CGST_INPUT_LEDGER=CGST INPUT
TALLY_SGST_INPUT_LEDGER=SGST INPUT
TALLY_IGST_INPUT_LEDGER=IGST INPUT
PORT=4000
API_KEY=3a002136563b2a5dae87bf66a26230f1c486ce8faa87989cd8b5b58229df312e